html{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}

p, li, h1{
    color: red;
    width : 500px;
    border: 1px solid black;

}

#abc{
    color: blue;
}

img[src]{
    height: 100px;
    width: 100px;
}

li:hover{
    color: bisque;
}